# reconnaissance configuration file

# Gather which information?
IDENTITY=
NETWORK=
HOST=
VULN=

#######################
# Identity Informtion #
#######################
# USERNAME=[alice, alice bob eve]
# NAME=[Max Muster]
# DOMAIN=[scanme.nmap.org, http://scanme.nmap.org/]
# EMAIL=[max.muster@gmail.com]
USERNAME=""
NAME=""
DOMAIN=""
EMAIL=""

######################
# Network Informtion #
######################
# IP=[192.168.0.12]
# IPRANGE=[192.168.0.0/8, 192.168.0.0/16, 192.168.0.0/24, ...]
# UDP=[1, 0]
# ALLPORTS=[1, 0]
# TCPPORT=[80, 80,443]
# UDPPORT=[22, 22,53]
# PORTRANGE=[1-100, 20-1000]
IP=""
IPRANGE=""
UDP=
ALLPORTS=
TCPPORT=""
UDPPORT=""
PORTRANGE=""

########################
# Spoofing and Evasion #
########################
# CHANGEMAC=[1, 0]
# NETDEVICE=[eth0]
# Source IP Manipulation
# Source Port Manipulation
CHANGEMAC=
NETDEVICE=""
SOURCEIP=""
SOURCEPORT=""